<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        ID:<%= @user.email %><br>
        名前:<%= @user.name %>
      </h1>

      <h2>
        <%= link_to "本棚へ行く",userreads_path %>
    </section>
  </aside>
</div>
