<footer class="footer">
  <small>
    <%= link_to "Bookshelf",   root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "ホーム",   root_path %></li>
      <li><%= link_to "漫画一覧", read_path %></li>
      <li><%= link_to "全ユーザの管理", users_path%></li>
    </ul>
  </nav>
</footer>
